<div>
    <h1>{{note.header}}</h1>
    <div>
        <table class="template_note">
            <tr>
                <td>
                    {{note.text}}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Edit</a>
                </td>
                <td>
                    <a href="">Cancel</a>
                </td>
                <td>
                    <a href="">Complete</a>
                </td>
                <td>
                    <a href="">Mark on map</a>
                </td>
            </tr>
        </table>
    </div>
</div>