@font-face {
    font-family: Skyrim;
    src:url("/Styles/Futura_MdCn_BT_Medium.ttf")
}
html, body {
    width: 100%;
    height: 100%; 
    margin: 0;
	padding: 0;
    color: #ffffff;
    font-family: Skyrim;
    background-image: url("/Styles/resource__smoke_by_elsoria-d5fb3b8.jpg")
}
.main_menu {
    height: 100%;
    width: 100%;
    bottom:0;
    background-color: #000000;  
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    opacity: 0.5;
}

.menu_strip {
    border-right: solid 2px #ffffff;
    width: 100px;
    background-color: #000000;
}

.menu_strip, .note_screen {
    vertical-align: top;
}

.template_note td {
    float: left;
}
ul {
    margin: 0;
    padding: 0;
}
