<!DOCTYPE html>
<html ng-app="NoteBook">
<head>
    <title>MyNotepad</title>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/AppJS/app.js"></script>
    <link href="/Styles/General.css" rel="stylesheet" type="text/css" />
</head>
    <body ng-controller="BookController as book">
        <table class="main_menu">
            <tr style="height: 10%">
                <th class="menu_strip">
                    <h1>MENU</h1>
                </th>
                <th>
                    <h1>Notes</h1>
                </th>
            </tr>
            <tr>
                <td class="menu_strip" >
                    <div ng-controller="StripController as strip">
                        <ul>
                            <li ng-repeat ="item in strip.cats">
                                <div ng-mouseleave="strip.toggleHeaderVisibility(false)">
                                    <a href="" ng-mouseenter="strip.toggleHeaderVisibility(true)">{{item.name}}</a>
                                    <ul ng-show="strip.noteHeadersVisible">
                                        <li ng-repeat="note in book.notes" ng-if="note.category==item">
                                            <a ng-click="book.currentNote=note" href="">{{note.header}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="note_screen">
                    <div class="note">
                        <display-note ng-model="book.currentNote">
                        </display-note>
                        </div>
                </td>
            </tr>
        </table>
    </body>
</html>
